.App {
  font-family: sans-serif;
  text-align: center;
}
.list {
  list-style: none;
  display: inline;
  margin: 1rem;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
hr {
  margin: auto;
}
